@using AspNetMVCOrnek_EntityLayer.Entities
@model List<Student>
@{
    ViewBag.Title = "Home Page";
}

<h3>Sistemdeki Öğrenciler</h3>
@if (TempData["AddStudentSuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AddStudentSuccessMessage"]
    </div>
}
@if (TempData["OgrenciSilHataMesaji"] != null)
{
    <div class="alert alert-danger">
        @TempData["OgrenciSilHataMesaji"]
    </div>
}
@if (TempData["OgrenciSilMesaji"] != null)
{
    <div class="alert alert-success">
        @TempData["OgrenciSilMesaji"]
    </div>
}

@if (TempData["OgrenciGuncelleHataMesaji"] != null)
{
    <div class="alert alert-danger">
        @TempData["OgrenciGuncelleHataMesaji"]
    </div>
}

@if (TempData["OgrenciGuncelleMesaji"] != null)
{
    <div class="alert alert-success">
        @TempData["OgrenciGuncelleMesaji"]
    </div>
}



<div>

    <a href="/Home/AddStudent" class="btn btn-info">Yeni Öğrenci Ekle</a>
</div>

@{
    int siraNo = 0;
}

@if (Model.Count == 0)
{
    <br />
    <div class="alert alert-warning">
        Sistemde kayıtlı öğrenci bulunmamaktadır.
    </div>
}
else //Model.Count > 0 olduğu zaman çalışacaktır
{

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sıra No</th>
                <th>İsim Soyisim</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) // Kaç adet öğrenci varsa o kadar dön
            {
                //Her defasına bir satır ekle
                <tr>
                    <td>@(++siraNo)</td>
                    <td>
                        <button class="btn btn-sm btn-default"
                                onclick="OgrenciBilgileriniGetir(@item.Id)"
                                data-toggle="modal"
                                data-target="#myModal">
                            @item.Name @item.Surname
                        </button>

                    </td>
                    <td>
                        <a href="/Home/DeleteStudent/@item.Id" class="btn btn-danger">Sil</a>

                        <a href="/Home/OgrenciSil/@item.Id" class="btn btn-default"
                           style="background-color:mediumpurple;">Sil</a>

                        <input type="button"
                               value="Sil"
                               class="btn btn-default"
                               style="background-color:pink;"
                               onclick="SilmeIsleminiOnayla(@item.Id)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<!--Modal Başlangıç-->
<div class="modal fade col-md-12" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal Başlangıç-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Öğrenci Detay</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div id="form-modal" class="modal-body">
                @using (Html.BeginForm("OgrenciGuncelle", "Home", FormMethod.Post,

                    new { @class = "form-horizontal" }))

                {
                    <div class="col-12">
                        <input type="hidden" name="Id" id="Id" />
                        <div class="form-group" style="margin:15px;">
                            @Html.Label("İsim")
                            @Html.TextBox("Name", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group" style="margin:15px;">
                            @Html.Label("Soyisim")
                            <input id="Surname" name="Surname" type="text"
                                   class="form-control" />
                        </div>
                        <div class="form-group" style="margin:5px;">
                            <input type="button" value="KAPAT"
                                   class="btn btn-danger"
                                   data-dismiss="modal"
                                   style="float:left" />
                            <input type="submit" class="btn btn-info"
                                   style="float:right" value="GÜNCELLE" />
                        </div>

                    </div>
                }

            </div>

            <!--Modal Content Bitişi-->
        </div>

    </div>
</div>
<!--Modal Bitiş-->



<script type="text/javascript">
    function SilmeIsleminiOnayla(id) {
        //alert("geldi");
        //alert(id);
        var result = confirm("Silmek istediğine emin misin?");
        if (result) {
            $.ajax({
                type: 'post',
                url: "/Home/SilOgrenci/" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    alert(response.message);
                    window.location.href = "/Home/Index";
                },
                error: function (error) {
                    alert(error.message);
                    console.log(error);
                }

            });
        }
    }

    function OgrenciBilgileriniGetir(id) {
        //alert("geldi");
        //alert(id);
        $.ajax({
            type: "GET",
            url: "/Home/OgrenciBilgileri/" + id,
            success: function (res) {
                if (res.success) {
                    document.getElementById("Name").value = res.data.Name;

                    //$("#Name").val(res.data.Name);
                    $("#Surname").val(res.data.Surname);
                    $("#Id").val(res.data.Id);

                }
                else {
                    $("#myModal").modal('hide');
                    alert("Beklenmedik bir hata oldu!");
                }

            },
            error: function (err) {
                $("#myModal").modal('hide');
                alert("Beklenmedik bir hata oldu!");
            }
        });
    }

</script>